.fields{
    display: flex;
    flex-direction: column;
}

.fields input{
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 20px;
}
.fields label{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}